/*styles for centering calculator to page and body color*/
body {
  background-color: #FFE4E1;
}

.calculator-body{
  display: flex;
  justify-content: center;
  margin: 10% 0;
}


/*styles for number button and clear button*/
.num-btn, .clear, .equal-btn{
  border: solid 1px #7ABF6C;
  background-color: #64B255;
  color: white;
  height: 95px;
  width: 95px;
  display: inline-block;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  float: left;
}

.clear {
  height:97px;
}

/* changes background color on hover for numbers*/
.num-btn:hover, .clear:hover, .equal-btn:hover {
  background-color: #83C178;
}

/*styles for right-side math buttons*/
.math-btn {
  border: solid 1px #7ABF6C;
  background-color: #83C178;
  color: #517A47;
  height: 95px;
  width: 95px;
  display: inline-block;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
}

/*changes text color of math buttons on hover*/
.math-btn:hover{
  color: white;
}

/*styles for result box*/
#result {
  border: solid 1px #7ABF6C;
  height: 95px;
  width: 283px;
  float: right;
  display: inline-block;
  background-color: #64B255;
  color: white;
  font-size: 3.5em;
  font-family: 'Lato', sans-serif;
  text-align: right;
}

/*removes light blue focus on buttons*/
button:focus {outline:0;}
